<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	
	<link rel="stylesheet" type="text/css" href="styles/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
	
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.1/mootools.js"></script>	
	<script type="text/javascript" src="scripts/script.js"></script>

	<title>Web</title>
</head>

<body>
	<form name="lamp" action="/lamp/" method="post">
		<input name="command" />
		<input type="submit" />
	</form>
</body>
</html>